/* GENERAL STYLES */

:root {
    --primary-color: #212121;
    --forbackcolor: #2F303A;
    --color-secondary: #FFFFFF;
    --text-color: #757575;
    --accent-color: #2196F3;
    --grey-color: #AFB1B8;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-secondary);
    color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    font-size: 14px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}
button {
    display:block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.container {
    width: 1200px;
    padding: 0 15px;    
    margin: 0 auto;
}    

/*reset end */

/* header */

.style {
    border-bottom: 1px solid #ECECEC;
}
.nav-style {
    margin-left: 93px;
}

.main-nav {
    display: flex;
    align-items: center;    
}
.logo-link {
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-header {
    font-family: 'Raleway';
    color: #000000
}

.nav-link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    
}

.nav-li:not(:last-child) {
    margin-right: 50px;
}
 
.nav-link.current {
    color: var(--accent-color);
}

.nav-link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
}
.header-tel-link:not(:last-child) {
    margin-right: 50px;
}

.header-tel-link { 
    display: flex;
    align-items: center;    

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-tel-link:hover,
.header-tel-link:focus {
    color: var(--accent-color);
}

.header-tel-link:hover .contacts-icon,
.header-tel-link:focus .contacts-icon {
    color: var(--accent-color);
    
}

.contacts-icon {
    margin-right: 10px;

    fill: currentColor;
}

/* hero */

.hero {    
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 1600px;
    height: 600px;
    text-align: center;    
    background-color: var(--forbackcolor); 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroback.jpg");    
    background-repeat: no-repeat; 
    background-size: cover;  

   }

.title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-secondary);
}  

.hero-btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;    

    font-family: 'Roboto', sans-serif;    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--color-secondary);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);    
}

.hero-btn:active {
    background-color: #188CE8;
}

/* Переваги */

.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 30px; 
}
.features-list{
    flex-basis: calc((100% - 30px * 3) / 4);
}
    
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.undertitle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;    

    width: 270px;
    height: 120px;
    
    background-color: #F5F4FA;    
}


.title-third {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-color);

}

.text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}


/* Чим ми займаємось */

.doing-pics {
    display: flex;
    gap: 30px; 
    padding-left: 0;   
}

.heading {
    margin-bottom: 50px;
    
    min-width: 366px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-color);
}
.doing {
   padding-top: 0;
}

.doing-text {  
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 70px;        
    
    font-weight: 700;   
    line-height: 1.14;
    text-align: center;      
    text-transform: uppercase;
    
    color: var(--color-secondary);
    background-color: rgba(47, 48, 58, 0.8);
}

.pics-before {
    position: relative;

}

.pics-after {    
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 70px;       

    background-color:rgba(47, 48, 58, 0.8);
}

/* team */

.team-list {
    display: flex;
    gap: 30px;
    padding-left: 0;
}

.team-item {
    flex-basis: calc((100% - 30px * 3) / 4);
    background: var(--color-secondary);    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team {
    padding-top: 94px;
    padding-bottom: 94px; 
    background: #F5F4FA;
}
.team-position {
    padding: 30px 0;
}

.team {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-color);
}

.position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: var(--grey-color);
    background-color: var(--color-secondary);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
    color: var(--color-secondary);
    background-color: var(--accent-color);
}

.social-icon {
    fill: currentColor;
}

/*regular customers*/

.title-clients {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);        
}

.clients-link:hover,
.clients-link:focus {    
    color: var(--accent-color);
}

.clients-icon {
    fill: currentColor;
}

/* footer */

.container-footer {
    display: flex;
    align-items: baseline;    
}

.address-style {
    font-style: normal; 
    margin-top: 20px;
}
.address-list:not(:last-child) {
    margin-bottom: 9px;
}

.footer-bck {
    background-color: var(--forbackcolor);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: 'Raleway';
    color: var(--color-secondary)
}

.footer {        
    font-size: 14px;
    list-style: none;
    text-decoration: none;    
    line-height: 1.71;
    color: var(--color-secondary);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sec {
    display: block;
   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.71;
    color: #FFFFFF99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sec:hover, 
.footer-sec:focus {
    color: var(--accent-color);
}

.footer:hover,
.footer:focus {
    color: var(--accent-color);
}

.socials {
    margin-left: 70px;    
}

.p-text {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-secondary);
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;
    
    color: var(--color-secondary);
    background-color: #FFFFFF10;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    color: var(--color-secondary);
    background-color: var(--accent-color);
}

/* modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color: #2F303A10;    

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    background-color: var(--color-secondary);
    border-radius: 4px;

    transition: transform 250ms ease-in-out;      
}

.backdrop.is-hidden .modal {
    transform: scale(5); 
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    
    cursor: pointer;

    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #00000010;
}

.close-btn-icon {
    fill: currentColor;
}

/* portfolio */

.desc {    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;          
    letter-spacing: 0.06em;
    color: var(--primary-color);
}

.type {
    margin-top: 4px;    

    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}

/* filters list */

.filters-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.list-btn {
    padding: 6px 22px;
    
    font-family: 'Roboto', sans-serif;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    color: var(--primary-color);
    background-color: #F5F4FA;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
    background-color: var(--accent-color);
    color: var(--color-secondary);
    box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);    
}
/* projects */

.portfolio-styles {
    padding: 94px 0;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px; 
    padding-left: 0;   
}

.project-item {
    flex-basis: calc((100% - 30px * 2) / 3);    
}

.project-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
    box-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.project-wrapper {    
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {    
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(101%);

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color:rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
    transform: translateY(0);
}

.overlay-text {
    padding-left: 24px;
    padding-right: 24px;

    font-size: 18px;
    line-height: 1.56;     
    
    color: var(--color-secondary);
}