/* GENERAL STYLES */
:root {
 --primary-color: #212121;
 --color-secondary: #FFFFFF;
 --text-color: #757575;
 --accent-color: #2196F3;
 }

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-secondary);
    color: var(--primary-color)
    font-size: 14px;
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}
.link:hover, .link:focus {
    color:var(--accent-color);
}
.list {
    list-style: none;
}
.logo-link {
        font-family: 'Raleway';
        text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-color);
}
.logo-header {
    font-family: 'Raleway';
    color: #000000
}
.nav-link {
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-color);
}
.nav-list .link.current{
    color: var(--accent-color)
}
.header-tel-link {
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
}

/* hero */

.background {
    background-color:  #2F303A;
}
.title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--color-secondary);
}


.hero-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color:var(--color-secondary);
}
.hero-btn:active {
    background-color:  #188CE8;
}
/* benefits */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-color);
}

.title-third {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-color);

}
.text {
    line-height: 1.71;
    color: var(--text-color);
}

/* team */

.our-team {
    background: #F5F4FA;
}
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-color);
}

.position {
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color);
}

/* footer */

.logo-footer {
    font-family: 'Raleway';
    color: var(--color-secondary)
}
.footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.71;
    color: var(--color-secondary);
   }

   .footer-sec {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.71;
    color: #FFFFFF99
   }

/* portfolio */

.desc {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color);
}
.type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}

.list-btn {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    color: var(--primary-color);
}

.buttons:hover, .buttons:focus {
    background-color: var(--accent-color);
    color: var(--color-secondary)
}