.team {
    background: #F5F4FA;
}

.team__title {
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    color: var(--primary-color);

    @media screen and(min-width: $desktop) {
        font-size: 36px;
        margin-bottom: 50px;
        min-width: 366px;
    }
}

.workers {
    @media screen and(min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 0;
    }  
    @media screen and(min-width: $desktop) {
        flex-wrap: nowrap;
    }  
}

.workers__list {   

    background: var(--color-secondary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    // @media screen and(max-width: 767px) {
    //     max-width: 450px;
    // }

    @media screen and(min-width: $tablet) {
        max-width: 354px;                
        flex-basis: calc((100% - 30px) / 2);        
    }    
}
.workers__list:not(:last-child) {
    @media screen and(max-width: 767px) {
        margin-bottom: 30px;
    }       
}

.workers__info {
    padding: 30px 0;
}

.workers__list-title {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-color);
}

.workers__list-position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
}

.workers-contacts__icon {
    fill: currentColor;
}