:root {
    --primary-color: #212121;
    --forbackcolor: #2F303A;
    --color-secondary: #FFFFFF;
    --text-color: #757575;
    --accent-color: #2196F3;
    --grey-color: #AFB1B8;
}

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;